doctype html
html(lang="en")
  head
    title Kudos Dashboard
    meta(charset='utf-8')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons")
    link(rel="stylesheet", href="https://unpkg.com/vue-material/dist/vue-material.min.css")
    link(rel="stylesheet", href="https://unpkg.com/vue-material/dist/theme/default.css")
    link(rel="stylesheet", href="/static/main.css")
  body
    div#app
        app-component
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="https://unpkg.com/vue-material")
    script(src='/static/main.js')
