doctype html
html(lang="en")
  head
    title Kudos Dashboard
    meta(charset='utf-8')
    link(rel="stylesheet", href="/static/main.css")
    script(src='/static/main.js')
  body
    h1 Kudos Dashboard
    p This is a static file serving example.
